header {
    background-color: azure;
}

.h1 {
    text-align:center;
    font-family:Arial;
    color:black;
    float:'left';
    width:auto;
    box-sizing:border-box;
}

.dropbtn {
    background-color:black;
    color:white;
    padding-left: 10px;
    font-size: 16px;
    border: 10px;
    cursor: pointer;
}

.menu {
    position: relative;
}

.pages {
    display: none;
    position: absolute;
    background-color:darkcyan;
    min-width: 20px;
}

.pages a{
    color:black;
    padding: 12px 16px;
    display: block;
}

.pages a:hover {
    background-color: orange;
}

.menu:hover .pages {
    display: block;
}

.menu:hover .dropbtn{
    background-color: blue;
}

body {
    background-color:antiquewhite;
}

p.section {
    box-sizing:border-box;
    font-size: 150px;
    color:black;
    font-family:Arial;
}

.membership_table h2{
    font-family:Arial;
}
.membership_table table, tr, td, th {
    font-family:Arial;
    font-size: 25px;
    border: 5px solid black;
    align-content:flex-start;
}


